.mw-footer {
    position: relative;
    z-index: 1;
    padding: 2.4rem 2rem;
    border-top: 1px solid rgb(255 255 255 / 8%);
    text-align: center;

    &__copy {
        margin: 0;
        font-size: 1.2rem;
        color: rgb(255 255 255 / 40%);
    }
}
